<div class="@CssClasses" style="@Styles">
    @ContentChild
</div>

@code {

    [Parameter]
    public RenderFragment ContentChild { get; set; }

    [Parameter]
    public OverlayConfig OverlayConfig { get; set; }


    public string Styles { get; set; } = null;

    public string CssClasses { get; set; }


    private string _justifyContent { get; set; } = null;

    private string _alignItems { get; set; } = null;

    private string _rightOffset { get; set; } = null;

    private string _leftOffset { get; set; } = null;

    private string _topOffset { get; set; } = null;

    private string _bottomOffset { get; set; } = null;


    protected override void OnInitialized()
    {
        CssClasses = GetOverlayCssClasses();
        Styles = GetStyles();
    }

    private string GetOverlayCssClasses()
    {

        var classes = new CssBuilder()
            .AddClass("cdk-global-overlay-wrapper", when: OverlayConfig.PositionStrategy == PositionStrategy.Global)
            .AddClass("cdk-overlay-connected-position-bounding-box", when: OverlayConfig.PositionStrategy == PositionStrategy.FlexibleConnectedTo)
            .Build();

        return classes;
    }

    private string GetStyles()
    {

        var globalPositionStrategy = OverlayConfig.GlobalPositionStrategy;

        switch (globalPositionStrategy.OverlayPosition)
        {

            case OverlayPosition.Top:

                PositionTop(globalPositionStrategy.TopOffset);

                break;

            case OverlayPosition.Right:

                PositionRight(globalPositionStrategy.RightOffset);

                break;

            case OverlayPosition.Bottom:

                PositionBottom(globalPositionStrategy.BottomOffset);

                break;

            case OverlayPosition.Left:

                PositionLeft(globalPositionStrategy.LeftOffset);

                break;

            case OverlayPosition.None:
                break;

        }

        if (globalPositionStrategy.CenterHorizontally)
        {
            CenterHorizontally(globalPositionStrategy.HorizontallOffset);
        }

        if (globalPositionStrategy.CenterVertically)
        {
            CenterVertically(globalPositionStrategy.VerticalOffset);
        }

        var shouldBeFlushHorizontally = (OverlayConfig.Width == "100%" || OverlayConfig.Width == "100vw") &&
                                            (string.IsNullOrEmpty(OverlayConfig.MaxWidth) || OverlayConfig.MaxWidth == "100%" || OverlayConfig.MaxWidth == "100vw");

        var shouldBeFlushVertically = (OverlayConfig.Height == "100%" || OverlayConfig.Height == "100vh") &&
                                        (string.IsNullOrEmpty(OverlayConfig.MaxHeight) || OverlayConfig.MaxHeight == "100%" || OverlayConfig.MaxHeight == "100vh");

        var justifyContent = _justifyContent;

        if (shouldBeFlushHorizontally)
        {

            justifyContent = "flex-start";

        }
        else if (_justifyContent == "center")
        {

            justifyContent = "center";

        }
        else
        {

            justifyContent = this._justifyContent;

        }

        var alignItems = shouldBeFlushVertically ? "flex-start" : this._alignItems;

        var styles = new StyleBuilder()
            .AddStyle("justify-content", justifyContent)
            .AddStyle("align-items", alignItems)
            .Build();

        return styles;
    }

    private void PositionTop(string offset)
    {

        _bottomOffset = "";
        _topOffset = offset;
        _alignItems = "flex-start";
    }

    private void PositionRight(string offset)
    {

        _leftOffset = "";
        _rightOffset = offset;
        _justifyContent = "flex-end";
    }

    private void PositionBottom(string offset)
    {

        _topOffset = "";
        _bottomOffset = offset;
        _alignItems = "flex-end";
    }

    private void PositionLeft(string offset)
    {

        _rightOffset = "";
        _leftOffset = offset;
        _justifyContent = "flex-start";
    }

    private void CenterHorizontally(string offset)
    {

        PositionLeft(offset);
        _justifyContent = "center";
    }

    private void CenterVertically(string offset)
    {

        PositionTop(offset);
        _alignItems = "center";
    }
}
