/*@import "Feature1/_feature1.scss";*/

.dnet-desktop-content {
    padding: 0;
    flex: 1 1 0;

    &.destok-layout {
        height: calc(100vh - 25px);
    }
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
    ::-webkit-scrollbar {
        width: $size;
        height: $size;
    }

    ::-webkit-scrollbar-thumb {
        background: $foreground-color;
        cursor: pointer;
    }

    ::-webkit-scrollbar-track {
        background: $background-color;
    }
    // For Internet Explorer
    body {
        scrollbar-face-color: $foreground-color;
        scrollbar-track-color: $background-color;
    }
}

@include scrollbars(.4rem, #BDBDBD, rgba(0, 0, 0, 0));

.coms-input-search {
    width: 100%;
    border-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #FFFFFF;
    -webkit-transition: none;
    transition: none;
    box-shadow: none;
    font-size: 12px;
    color: #38455b;
    border: 1px solid #eee;
    padding: 2px 5px;
}



$color-reset: #000000;

/* Base for label styling */
[type="checkbox"],
[type="checkbox"] {
    &.coms-checkbox-no-label {
        &:checked,
        &:not(:checked) {
            position: relative;
            padding-left: 1.95em;
            cursor: pointer;
        }
    }
}

/* checkbox aspect */
[type="checkbox"],
[type="checkbox"] {
    &.coms-checkbox-no-label {
        &:checked,
        &:not(:checked) {
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: .90rem;
                height: .90rem;
                border: 0 solid #ccc;
                background: #fff;
                border-radius: 0;
                box-shadow: none;
                border: 1px solid #000000;
            }
        }

        &.negative {
            &:checked,
            &:not(:checked) {
                &:before {
                    content: '';
                    border: 1px solid $color-reset;
                    background: #FFFFFF;
                }
            }
        }
    }
}

/* checked mark aspect */
[type="checkbox"],
[type="checkbox"] {
    &.coms-checkbox-no-label {
        &:checked,
        &:not(:checked) {
            &:after {
                font-family: "Font Awesome 5 Free";
                content: '\f00c';
                font-weight: 900;
                position: absolute;
                top: .20rem;
                left: .15rem;
                font-size: .625rem;
                line-height: .8;
                color: $color-reset;
                transition: all .2s;
            }
        }

        &.negative {
            &:checked,
            &:not(:checked) {
                &:after {
                    color: $color-reset;
                }
            }
        }
    }
}

/* checked mark aspect changes */
[type="checkbox"] {
    &.coms-checkbox-no-label {
        &:not(:checked) {
            &:after {
                opacity: 0;
                transform: scale(0);
            }
        }
    }
}

[type="checkbox"].coms-checkbox-no-label:checked:after {
    &.coms-checkbox-no-label {
        &:checked {
            &:after {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
}



