@using DnetOverlayComponent.Infrastructure.Models
@using DnetOverlayComponent.Infrastructure.Services.CssBuilder

<div id="cdk-overlay-@OverlayConfig.OverlayRef" class="@CssClasses" style="@Styles">
    @ContentChild
</div>

@code {

    [Parameter]
    public RenderFragment ContentChild { get; set; }

    [Parameter]
    public OverlayConfig OverlayConfig { get; set; }


    public string Styles { get; set; } = null;
    
    public string CssClasses { get; set; }


    protected override void OnInitialized()
    {
        Styles = GetStyles();
        CssClasses = GetCssClasses();
    }

    private string GetCssClasses()
    {

        var classes = new CssBuilder()
            .AddClass("cdk-overlay-pane")
            .AddClass(OverlayConfig.PanelClass, when: !string.IsNullOrEmpty(OverlayConfig.PanelClass))
            .Build();

        return classes;
    }

    private string GetStyles()
    {

        var globalPositionStrategy = OverlayConfig.GlobalPositionStrategy;

        var shouldBeFlushHorizontally = (OverlayConfig.Width == "100%" || OverlayConfig.Width == "100vw") &&
                                            (string.IsNullOrEmpty(OverlayConfig.MaxWidth) || OverlayConfig.MaxWidth == "100%" || OverlayConfig.MaxWidth == "100vw");

        var shouldBeFlushVertically = (OverlayConfig.Height == "100%" || OverlayConfig.Height == "100vh") &&
                                        (string.IsNullOrEmpty(OverlayConfig.MaxHeight) || OverlayConfig.MaxHeight == "100%" || OverlayConfig.MaxHeight == "100vh");

        var marginLeft = shouldBeFlushHorizontally ? "0" : globalPositionStrategy.GetLeftOffset();
        var marginTop = shouldBeFlushVertically ? "0" : globalPositionStrategy.GetTopOffset();
        var marginBottom = globalPositionStrategy.GetBottomOffset();
        var marginRight = globalPositionStrategy.GetRightOffset();

        var styles = new StyleBuilder("pointer-events", "auto")
            .AddStyle("position", "static")
            .AddStyle("margin-left", marginLeft, when: !string.IsNullOrEmpty(marginLeft))
            .AddStyle("margin-top", marginTop, when: !string.IsNullOrEmpty(marginTop))
            .AddStyle("margin-bottom", marginBottom, when: !string.IsNullOrEmpty(marginBottom))
            .AddStyle("margin-right", marginRight, when: !string.IsNullOrEmpty(marginRight))
            .AddStyle("width", OverlayConfig.Width, when: !string.IsNullOrEmpty(OverlayConfig.Width))
            .AddStyle("height", OverlayConfig.Height, when: !string.IsNullOrEmpty(OverlayConfig.Height))
            .AddStyle("min-height", OverlayConfig.MinHeight, when: !string.IsNullOrEmpty(OverlayConfig.MinHeight))
            .AddStyle("min-width", OverlayConfig.MinWidth, when: !string.IsNullOrEmpty(OverlayConfig.MinWidth))
            .AddStyle("max-width", OverlayConfig.MaxWidth, when: !string.IsNullOrEmpty(OverlayConfig.MaxWidth))
            .AddStyle("max-height", OverlayConfig.MaxHeight, when: !string.IsNullOrEmpty(OverlayConfig.MaxHeight))
            .Build();

        return styles;
    }
}
