@using DnetOverlayComponent.Infrastructure.Models
@using ServerSide.Infrastructure.Entities

<span style="width: 20px; height: 20px; display: block; background-color: @_color;"></span>

@code {

    [CascadingParameter] DnetAutoCompleteList<MarineOperator> DnetAutoCompleteList { get; set; }

    [Parameter]
    public MarineOperator Item { get; set; }

    private string _color = "";

    protected override void OnParametersSet()
    {
        _color = $"rgba({Item.Color.A}, {Item.Color.B}, {Item.Color.G}, 1)";
    }
}
